<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liaiwei.mathfinal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dragonpc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dragonpc"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".OpenPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page1"
            android:label="@string/title_activity_page1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".page2" />
        <activity android:name=".page3" />
        <activity android:name=".page4" />
        <activity android:name=".page5" />
        <activity android:name=".page6" />
        <activity android:name=".page7" />
        <activity android:name=".page8" />
        <activity android:name=".page9" />
        <activity android:name=".page10" />
        <activity android:name=".page11" />
        <activity android:name=".page12" />
        <activity android:name=".page13" />
        <activity android:name=".page14" />
        <activity android:name=".page15" />
        <activity android:name=".page16" />
        <activity android:name=".page17" />
        <activity android:name=".page18" />
        <activity android:name=".page19" />
        <activity android:name=".page20" />
        <activity android:name=".page21" />
        <activity android:name=".page22" />
        <activity android:name=".page23" />
        <activity android:name=".page24" />
        <activity android:name=".page25" />
        <activity android:name=".page26" />
        <activity android:name=".page27" />
        <activity android:name=".page28" />
        <activity android:name=".page29" />
        <activity android:name=".page30" />
        <activity android:name=".page31" />
        <activity android:name=".page32" />
        <activity android:name=".page33" />
        <activity android:name=".page34" />
        <activity android:name=".page35" />
        <activity android:name=".page36" />
        <activity android:name=".page37" />
        <activity android:name=".page38" />
        <activity android:name=".page39" />
        <activity android:name=".page40" />
        <activity android:name=".page41" />
        <activity android:name=".page42" />
        <activity android:name=".page43" />
        <activity android:name=".page44" />
        <activity android:name=".page45" />
        <activity android:name=".page46" />
        <activity android:name=".page47" />
        <activity android:name=".page48" />
        <activity android:name=".page49" />
        <activity android:name=".page50" />
        <activity android:name=".page51" />
        <activity android:name=".page52" />
        <activity android:name=".page53" />
        <activity android:name=".page54" />
        <activity android:name=".page55" />
        <activity android:name=".page56" />
        <activity android:name=".page57" />
        <activity android:name=".page58" />
        <activity android:name=".page59" />
        <activity android:name=".page60" />
        <activity android:name=".page61" />
        <activity android:name=".page62" />
        <activity android:name=".page63" />
        <activity android:name=".page64" />
        <activity android:name=".page65" />
        <activity android:name=".page66" />
        <activity android:name=".page67" />
        <activity android:name=".page68" />
        <activity android:name=".page69" />
        <activity android:name=".page70" />
        <activity android:name=".page71" />
        <activity android:name=".page72" />
        <activity android:name=".page73" />
        <activity android:name=".page74" />
        <activity android:name=".page75" />
        <activity android:name=".page76" />
        <activity android:name=".page77" />
        <activity android:name=".page78" />
        <activity android:name=".page79" />
        <activity android:name=".page80" />
        <activity android:name=".page81" />
        <activity android:name=".page82" />
        <activity android:name=".page83" />
        <activity android:name=".page84" />
        <activity android:name=".page85" />
        <activity android:name=".page86" />
        <activity android:name=".page87" />
        <activity android:name=".page88" />
        <activity android:name=".page89" />
        <activity android:name=".page90" />
        <activity android:name=".page91" />
        <activity android:name=".page92" />
        <activity android:name=".page93" />
        <activity android:name=".page94" />
        <activity android:name=".page95" />
        <activity android:name=".page96" />
        <activity android:name=".page97" />
        <activity android:name=".page98" />
        <activity android:name=".page99" />
        <activity android:name=".page100" />
        <activity android:name=".page101" />
        <activity android:name=".page102" />
        <activity android:name=".page103"></activity>
    </application>

</manifest>